<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clínica da G.E</title>
    <link rel="stylesheet" href="../../Public/_styles/index.css">
</head>
<body>
    <header id="cabecalho">
        <h1>Clínica G.E</h1>
        <h3>Cuide bem da sua saúde mental</h3>

        <nav id="menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./equipe.html">Equipe</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="./horarios.html">Horários</a></li>
                <li><a href="./conosco.html">Fale Conosco</a></li>
                <li><a href="./sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <div id="interface">
        <section id="corp">
            <article id="artig">
                <h2>O que é</h2>
                <p>Na clínica da Gleice você encontra os melhores serviços para cuidar </br> cuidar da sua saúde.</p>
                <h2>Como funciona?</h2>
                <p>A clínica presta os melhores antendimentos e todos tipos de exame para sua saúde mental.</p>
                <h2>A melhor equipe de Terapeutas Ocupacionais</h2>
                <p>A clínica dispõe da melhor equipe de Terapeutas Ocupacionais.</p>                
                <h2>Especificações Tecnícas</h2>
                <p>Formada em Terapia Ocupacional e cursando medicina, Gleice Ellen possui os melhores conhecimentos e a melhor equipe para te atender.</p>
                <h2>Data de lancamento</h2>
                <p>Em breve</p>
                <h2>Conheça mais a equipe</h2>
                <p>Acesse no menu a parte de equipe e conheça todos os doutores, enfermeiros e funcionários.</p>
                <h2>Saiba os horários de funcionamento</h2>
                <p>Para saber os horários de nossos atendimentos, acesse no menu a parte de horários e saiba como ser atendido nessa maravilhosa clínica.</p>
            </article>
        </section>
    </div>
    <footer id="rodape">
        <p>&copy; Clínica G.E | 2020</p>            
    </footer>
    <script src="index.js"></script>
</body>
</html>