@charset "UTF";
@import url('https://fonts.googleapis.com/css2? family = Titillium + Web & display = swap'); 
@font-face {
    font-family: 'fontLogo';
    src: url("../JS/_fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

body{
    font-family: Arial, sans-serif;
    background-color: #dddddd;
}

header#cabecalho {
    border-bottom: 1px #057021 solid;
    height: 150px;
}

header#cabecalho h1{
    font-family: 'fontLogo', sans-serif;
    font-size: 30pt;
    color: #074d07;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #0b920b;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

div#interface {
    width: 900px;
    background-color: #ffffff; 
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px 10px 10px 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a{
    color: #797676;
    text-decoration: none;
}

/*Formatação do Menu*/
nav#Menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    left: 300px;
}

nav#Menu li{
    display: inline-block;
    background-color: rgb(36, 116, 29);
    padding: 5px;
    margin: 2px;
}

nav#Menu li:hover {
    background-color: #57aca7;
}

nav#Menu a{
    color: #000000;
    text-decoration: none;
}

nav#Menu a:hover{
    color: #ffffff;
}

/*Formatação do corpo*/
section#corpo {
    display: block;
    width: 550px;
    float: left;
    border-right: 1px solid #057021;
    padding-right: 2px;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
}

aside#lateral h1 {
    font-family: 'fontLogo', sans-serif;
    font-size: 20pt;
    color: #074d07;
}

/*Formatação do rodapé da página*/
footer#rodape {
    clear: both;
    color: black;
    border-top: 1px solid #057021;
}

footer#rodape p {
    text-align: center;
    font-style: italic;
}

/*Formatação do artígo da página*/
article#noticia-principal h2{
    font-size: 12pt;
    color: #070707;
    background-color: #0b920b;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
